@page
@using static AOMForum.Common.ViewConstants.Identity.Logout
@model LogoutModel
@{
    this.ViewData["Title"] = ViewTitle;
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (this.User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@LogoutAction</button>
            </form>
        }
        else
        {
            <p>@SuccessfullyLoggedOut</p>
        }
    }
</header>