@using AOMForum.Web.Models.Settings;
@model AOMForum.Web.Models.Settings.SettingsListViewModel

@{
    this.ViewData["Title"] = "Settings";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (SettingViewModel setting in this.Model.Settings)
{
        <div>@setting.Id: @setting.NameAndValue</div>
}

<a asp-action="InsertSetting" class="btn btn-primary">Insert new</a>