@using static AOMForum.Common.ViewConstants.Messages.Index

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

<p>
    <a asp-area="" asp-controller="Messages" asp-action="Create">@CreateAction</a>
</p>

<vc:last-message></vc:last-message>